@using IptFinals.Models
@model PersonalInfo
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<form id="profile-form" method="post" novalidate="novalidate">
    <h3>Profile</h3>
    <div class="row">
          <div class="col-6">
              <div class="form-floating mb-3">
                   <input class="form-control" placeholder="Please choose your username." disabled="" type="text" id="Username" name="Username" value="johnpaul@gmail.com">
                   <label class="form-label" for="Username">Username</label>
              </div>
          </div>
          <div class="col-6">
             <div class="form-floating mb-3">
                     <input class="form-control" placeholder="Please enter your phone number." type="tel" data-val="true" data-val-phone="The Phone number field is not a valid phone number." id="Input_PhoneNumber" name="Input.PhoneNumber" value="">
                     <label class="form-label" for="Input_PhoneNumber">Phone number</label>
                     <span class="text-danger field-validation-valid" data-valmsg-for="Input.PhoneNumber" data-valmsg-replace="true"></span>
               </div>
          </div>
        <div class="col-6">
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8IQ2moICvM5DrHXaR7-5-726RauDsiUwb2P8qNx7O7pr4p0zhYTc82aBE9KEw4l6dbLVIMQMTKhe6gDK_WtBcOuJDCfmx0R722p_y_9oeVs9iXk0W0u-C4eoALUkdXRS0Z1j_lQoo9L_e9elVyhy1KY0UHjg5kaT6W08xcQrfXxNmSAYzFBoFQEkU2nxFcAiUA" />
        </div>
    </div>
</form>


<form id="email-form" method="post" novalidate="novalidate">    
<h3>Manage Email</h3>
<div class="row">
    @* <div class="col-6"> *@
            <div class="text-danger validation-summary-valid" role="alert" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
             <div class="col-6">
                <div class="form-floating mb-3">
                    <input class="form-control" placeholder="Please enter your email." disabled="" type="text" id="Email" name="Email" value="johnpaul@gmail.com">
                    <label class="form-label" for="Email">Email</label>
                    </div>
                     </div>
                    <div class="col-6">
            <div class="form-floating mb-3">
                <input class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." type="email" data-val="true" data-val-email="The New email field is not a valid e-mail address." data-val-required="The New email field is required." id="Input_NewEmail" name="Input.NewEmail" value="johnpaul@gmail.com">
                <label class="form-label" for="Input_NewEmail">New email</label>
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.NewEmail" data-valmsg-replace="true"></span>
            </div>
                </div>
                    <div class="col-6">
          
                <button id="email-verification" type="submit" class="btn btn-link" formaction="/Identity/Account/Manage/Email?handler=SendVerificationEmail">Send verification email</button>
           
       
            <button id="change-email-button" type="submit" class="w-100 btn btn-lg btn-primary" formaction="/Identity/Account/Manage/Email?handler=ChangeEmail">Change email</button>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8IQ2moICvM5DrHXaR7-5-71RVLR3OjzS3hE5jwhHQmObL3hWPCrnR7k67zODs7L4emnt8JtJYdbchCTfAmUKIeNkJW9fza-0d3BlBzUBZWVYu9st2KQ9yVMRXTZDPTpHA3T19LsTe2pcl2mPwEK8Py4ykSh6W5TGMKiaOtcP28d5MycaGlqqTB0jHmTq2QHtFg">
         
    </div>
</div>
</form>





