@model IptFinals.Models.PersonalInfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<h1>Add New Student</h1>
<h2>Personal Information</h2>
<hr />


 @if (User.IsInRole("Student"))
{
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="UserId" class="form-control" placeholder="" value="@ViewData["UserID"]" hidden />
            <label asp-for="UserId" class="form-label"></label>
        </div>
        <div class="row">
            <div class="form-floating mb-3">
                <input asp-for="PersonalId" class="form-control" placeholder="Student Id." name="StudentID" />
                <label asp-for="PersonalId" class="form-label">Student-Id (Format: 00-0000)</label>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input asp-for="FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="first name" />
                    <label asp-for="FirstName">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input asp-for="LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="Last name" />
                    <label asp-for="LastName">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-floating mb-3">
                    <input asp-for="Section" class="form-control" autocomplete="section" aria-required="true" placeholder="BSIT" />
                    <label asp-for="Section">Section</label>
                    <span asp-validation-for="Section" class="text-danger"></span>
                </div>
            </div><div class="col-sm">
                <div class="form-floating mb-3">
                    <input asp-for="Course" class="form-control" autocomplete="course" aria-required="true" placeholder="Course" />
                    <label asp-for="Course">Course</label>
                    <span asp-validation-for="Course" class="text-danger"></span>
                </div>
            </div><div class="col-sm">
                <div class="form-floating mb-3">
                    <input asp-for="YearLevel" class="form-control" autocomplete="yearlevel" aria-required="true" placeholder="Year Level" />
                    <label asp-for="YearLevel">Year Level</label>
                    <span asp-validation-for="YearLevel" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input asp-for="ContactNumber" class="form-control" autocomplete="contactnumber" aria-required="true" placeholder="Contact Number" type="number" />
                    <label asp-for="ContactNumber">Contact Number</label>
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input asp-for="DateOfBirth" class="form-control" autocomplete="dateofbirth" aria-required="true" placeholder="Date Of Birth" />
                    <label asp-for="DateOfBirth">Date of Birth</label>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Address" class="form-control" autocomplete="address" aria-required="true" placeholder="Address" />
            <label asp-for="Address">Address</label>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="EmergencyContact" class="form-control" autocomplete="emergencycontact" aria-required="true" placeholder="Emergency Contact" />
            <label asp-for="EmergencyContact">Emergency Contact</label>
            <span asp-validation-for="EmergencyContact" class="text-danger"></span>
        </div>


        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>

    </form>

}
else
{
    
}